#content {
  min-height: 100vh;
  @supports(min-height: 100dvh) {
    min-height: 100dvh;
  }
  width: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 60px 1fr;
}

.header {
  grid-area: header;
  height: 60px;
  padding: 5px 10px;
  background: linear-gradient(
    0.2turn,
    var(--gradient-color-1),
    var(--gradient-color-2) 45% 60%,
    var(--gradient-color-3)
  );
}

.main {
  grid-area: main;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
